

h1{
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.input{
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.input input{
height: 20px;
outline: none;
padding: 5px;
border-radius: 5px;
border: none;
border: 1px solid;
}
.input button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-size: medium;
    border: 1px black solid;
    cursor: pointer;
}
p{
    font-size: 30px;
}
h3{
    justify-self: center;
    margin-top: 100px;
font-size: 30px;
color: aliceblue;
}
.div{
    justify-self: center;
    background-color: black;
    padding-top: 40px;
    height: 300px;
    width: 100%;
    color: aliceblue;
}
.div p{
    justify-self: center;
}
.div button{
    justify-self: center;
    height: 30px;
    width: 100px;
}
.btn{
    
}